*{
    padding: 0;
    margin: 0;
}
.topbarContainer{
    height: 50px;
    width: 100%;
	background: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}
.date-time{
    text-align: right;
}
#dayname{
    display: none;
}
.topbar2{
    display: flex;
    align-items: center;
    background: #2a3747;
    height: 26px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 50px;
    z-index: 1;
    justify-content: space-between;
}
.action-btns{
    display: flex;
}
.fa-map-marker-alt{
    margin-right: 10px;
}
.logoo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.logoo span{
    font-weight: 100;
    font-size: 18px;
}
.omazon_logo{
    width: 50px;
    height: auto;
}
.home_name{
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
    text-transform: capitalize;
}
.topbarLeft{
    display: flex;
    flex-direction: column;
}
.topbarLeft img{
    margin-left: 30px;
}
.topbarLinks{
    width: 50%;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.topbarLinks button{
    background: #3b6590;
    border: none;
    color: aquamarine;
}

.topbarLink{
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.dropdown_menu{
    margin-top: 15px;
    display: none;
}
.home_name:hover .dropdown_menu{
    display: block;
    position: absolute;
    background: #131921;
    z-index: 1000;
}
ul{
    text-decoration: none;
}
a{
    text-decoration: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.dropdown_menu ul{
    list-style: none;
    display: block;
    margin: 10px;
}
.dropdown_menu ul li{
    text-decoration: none;
    width: 120px;
    padding: 10px;
}
.default{
    color: #a6b9d3;
}
.dropdown_menu ul li a{
    color: white;
    text-decoration: none;
}
.dropdown_menu ul li a:hover{
    color: #a6b9d3;
}
.dropdown_menu ul li button{
    text-align: left;
    border: none;
    background: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.dropdown_menu ul li button:hover{
    color: #a6b9d3;
}
.topbarImg{
    cursor: pointer;
}